
# Python cache files
__pycache__/
*.py[cod]

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.egg-info/

# Virtual environments
venv/
*.venv
env/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Other common files
.DS_Store
